* {
  margin: 0px;
  padding: 0px;
  font-family: 'poppins', sans-serif;
}

body {
  background-color: #E5D5FF;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  height: 350px;
  background-color: white;
}

button {
  width: 100%;
}

.text-input {
  width: 450px;

}

.wrapper {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.text-input {
  border-bottom: 1px, solid, #ccc;
}

.controls, .row{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}